<h1>Edit dish</h1>
<<<<<<< HEAD
<<<<<<< HEAD


<%= render 'form' %>
<<<<<<< HEAD
=======
>>>>>>> dish controller and associate views
=======


<%= render 'form' %>
>>>>>>> pre lecture commit - created new form for dishes
=======

<%= button_to "Delete that dish", @dish, :method => :delete%>
>>>>>>> full crud for dishes, connected dish to its user
