<h1>Edit dish</h1>
<<<<<<< HEAD
<<<<<<< HEAD


<%= render 'form' %>
=======
>>>>>>> dish controller and associate views
=======


<%= render 'form' %>
>>>>>>> pre lecture commit - created new form for dishes
