<h1>Create a new dish</h1>
<<<<<<< HEAD

<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= render 'form' %>
=======
>>>>>>> dish controller and associate views
