<h1>Create a new dish</h1>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> pre lecture commit - created new form for dishes

<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= render 'form' %>
<<<<<<< HEAD
=======
>>>>>>> dish controller and associate views
=======
>>>>>>> pre lecture commit - created new form for dishes
