@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed');
@import 'font-awesome';

// fonts 
$roboto: 'Roboto Condensed', sans-serif;
$pacifico: 'Pacifico', cursive;

// colors
$powder: #8FD8D2;
$peach: #FEDCD2;
$warm: #DF744A;
$lemon: #DCB239;
$hint-green: #83d084;
$ocean-grey: rgba(57,72,88, 1);
$ocean-grey-background: rgba(57,72,88, 0.8);
$powder-background: rgba(143,	216,	210, 0.8);
$peach-background: rgba(254, 220, 210, 0.8);
$lemon-background: rgba(220,	178,	57, 0.8);
$black-background: rgba(0, 0, 0, 0.8);

@import "home.scss";
@import "navbar.scss";
@import "forms.scss";
@import "profile-view.scss";
@import "potluck-events.scss";
abbr[title], 
acronym[title] {
  display: none;
}
html,
body {
  min-height: 100%;
  margin: 0px;
}

body {
  background-image: url('/assets/potluck-dinner-7.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  li {
    list-style-type: none;
  }

  label,
  a,
  h1, 
  h4,
  p {
    margin: 0px;
    font-family: $roboto;
    color: white;
  }

  a {
    text-decoration: none;
  }

  .body-inner-container {
    min-height: 100%;
    margin: 0px 20px;
  }

  .avatar-image {
    height: 100px;
    width: auto;
  }

  .delete-button,
  .new-action-button {
    display: block;
    color: white;
    font-family: $roboto;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;

    a { 
      font-size: 20px;
    }
  }

  .new-action-button {
    background-color: $lemon;
  }

  .delete-button {
    background-color: $warm;
    margin-top: 15px;
    padding: 15px;
  }
}
