body { 
  .navbar {
    background-color: $ocean-grey;
    height: 60px;
    width: 100%;
    overflow: hidden;
    
    a {
      color: rgba(255, 255, 255, 1);
    }

    .navbar-links {
      padding: 0px 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      .registration-links {
        display: flex;
        align-items: center;

        .avatar-image {
          height: 50px;
          border-radius: 50%;
        }
        
        .navbar-link {
          padding-left: 8px;
        }
      }
    }
  }
}